head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/bower_components/form.validation/dist/js/formValidation.min.js')
    script(type='text/javascript', src='/bower_components/form.validation/dist/js/framework/bootstrap.min.js')

    script(type='text/javascript', src='/javascripts/ldap-client-apacheds.js')

    body
        block content
doctype
html
